- if current_user
  %li{class: params[:controller] == "users" && 'active'}
    = link_to users_path, title: "Users" do
      .hidden-sm
        %i.fa.fa-user
        Users
      .visible-sm
        %i.fa.fa-user
  %li.navbar-text.hidden-sm Signed in as #{current_user.name}
  %li
    = link_to signout_path, id: "sign_out", title: "Sign Out" do
      .hidden-sm
        %span.glyphicon.glyphicon-log-out
        Sign Out
      .visible-sm
        %span.glyphicon.glyphicon-log-out