-#Navigation Links
%li{class: current_page?(root_path) && 'active'}
  = link_to root_path, title: "Home" do
    .hidden-sm
      %span.glyphicon.glyphicon-home
      Home
    .visible-sm
      %span.glyphicon.glyphicon-home
%li{class: params[:controller] == "events" && 'active'}
  = link_to events_path, title: "Events" do
    .hidden-sm
      %span.glyphicon.glyphicon-calendar
      Events
    .visible-sm
      %span.glyphicon.glyphicon-calendar